.header__container {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 20px 10px;
  background-color: #fecc01;
}

.header__navbar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__logo {
  width: 50px;
  height: 26px;
  padding: 0;
}

.header__title {
  color: white;
  max-width: 80px;
  font-size: 11px;
}

.header__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header__icons__bell {
  width: 26px;
  height: 30px;
}

.header__icons__kz {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: rgb(255, 255, 255, 0.3);
  border-radius: 10px;
  color: white;
}
