.millionaire {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fecc01;
  border-radius: 0px 0px 236px 306px / 0px 0px 61px 56px;
}

.millionaire__date {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 15px;
  text-transform: uppercase;
}

.millionaire__title {
  text-align: center;
  margin: 0;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}

.background-image__svet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
  background-repeat: no-repeat;
  background-image: url("../assets/img/svet.png");
  border-radius: 0px 0px 236px 306px / 0px 0px 61px 56px;
  background-size: contain;
  /* z-index: 11; */
}

.background-image__svet img {
  max-width: 100%;
  height: auto;
  background-size: cover;
  overflow: hidden;
  border-radius: 0px 0px 236px 306px / 0px 0px 61px 56px;
}

.millionaire__button {
  margin-top: -120px;
  cursor: pointer;
  width: 296px;
  height: 50px;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: white;
  background: none;
  border: 1px solid white;
  border-radius: 15px;
}

.millionaire__button:hover {
  opacity: 0.8;
}
.millionaire__button:active {
  opacity: 1.2;
}
