.millionaire {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fecc01;
}

.millionaire__date {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 15px;
  text-transform: uppercase;
}

.millionaire__title {
  text-align: center;
  margin: 0;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}

.background-image__svet {
  background: no-repeat;
  background-color: #fecc01;
  background-image: url("../assets/img/svet.png");
  background-size: contain;
}

.background-image__ospan {
  display: flex;
  justify-content: center;
  width: 360px;
  background-image: url("../assets/img/ospan2.png");
}

.millionaire__button {
  margin-top: 420px;
  margin-bottom: 50px;
  width: 296px;
  height: 50px;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: white;
  background: none;
  border: 1px solid white;
  border-radius: 15px;
}
