.promotion-lottery {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 60px;
  margin-top: -50px;
  margin-bottom: -70px;
  border-radius: 0px 0px 360px 190px / 0px 0px 90px 36px;
  text-align: center;
  background-color: #004e8f;
  z-index: 3;
  overflow: hidden;
}

.promotion-lottery img {
  display: none;
}

.promotion__button-container {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.promotion__button {
  cursor: pointer;
  width: 156px;
  height: 40px;
  font-size: 15px;
  border: none;
  border-radius: 8px;
  transition: 0.4s;
}

.promotion__button:hover {
  opacity: 0.8;
}
.promotion__button:active {
  opacity: 1.2;
}

.button-white {
  background-color: white;
  color: #004e8f;
}

.button-blue {
  background-color: #195f9a;
  color: white;
}

.promotion__text {
  width: 312px;
  margin: 0 auto;
}

.promotion__text__title {
  color: white;
}

.promotion__text ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.promotion__text ul li {
  font-size: 16px;
  color: white;
  list-style-type: none;
}

.promotion__text ul li:before {
  content: "— ";
  margin-left: -20px;
  color: #fecc01;
}

.promotion__text ul li span {
  color: #fecc01;
}

.lottery-list {
  width: 312px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.lottery-list__title {
  color: white;
}

.lottery-list__title span {
  font-weight: 400;
}

.lottery-list__text {
  display: flex;
  gap: 10px;
  position: relative;
  color: white;
}

.lottery-list__text::before {
  content: url("../assets/img/lottery-list-symbol.png");
}

.lottery-list ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
}

.lottery-list ul li {
  list-style-type: none;
}

.lottery-list ul li img {
  width: 80px;
}

.lottery-list__instant {
  display: flex;
  gap: 10px;
  position: relative;
  color: white;
}

.lottery-list__instant::before {
  content: url("../assets/img/clock.png");
}

.where-buy h2 {
  font-size: 24px;
  font-weight: 700;
  color: white;
}

.where-buy p {
  color: white;
}

.where-buy button {
  width: 296px;
  height: 50px;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: black;
  background-color: white;
  border: none;
  border-radius: 15px;
}

.where-buy button:hover {
  opacity: 0.8;
}

.where-buy button:active {
  opacity: 1.2;
}

@media screen and (min-width: 768px) {
  .promotion-lottery {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    border-radius: 0px 0px 0px 0px;
  }

  .promotion-lottery__text {
    max-width: 900px;
    height: auto;
  }

  .promotion-lottery-img img {
    display: block;
    max-width: 100%;
    height: auto;
    background-size: contain;
  }

  .iframe {
    margin-right: 0;
    width: 500px;
    margin-top: 40px;
  }

  .promotion__button-container {
    max-width: 530px;
    justify-content: end;
    margin: 0 auto;
  }
  .promotion-lottery__text {
    margin-right: 0;
  }
  .promotion__text {
    margin-right: 0;
    width: 450px;
  }
  .lottery-list {
    margin-right: 0;
    width: 450px;
  }
}

@media screen and (min-width: 1000px) {
  .iframe {
    width: 600px;
  }
}

@media screen and (min-width: 1400px) {
  .iframe {
    width: 800px;
  }
}