@import "./css/normalize.css";
@import "./css//header.css";
@import "./css/burger-menu.css";
@import "./css/millionaire.css";
@import "./css/promotion-lottery.css";
@import "./css/draw-dates.css";
@import "./css/check-registration.css";
@import "./css//verification.css";

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
