@import "./css/normalize.css";
@import "./css//header.css";
@import "./css/burger-menu.css";
@import "./css/millionaire.css";
@import "./css/promotion-lottery.css";

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.background-container {
  background: no-repeat;
  background-image: url("./assets/img/back.png");
}

